:root {
	--bg: #fbf4ea;
	--white: #fff;
	--black: #231f20;
	--orange: #eea63a;
	--light-orange: #f3c580;
	--khaki: #a8a77a;
	--gray: #6d6d6d;
	--red: #f33d46;
	--error: #f33d46;
	--orange-gradient: linear-gradient(
		105deg,
		#eea63a 19.39%,
		#fbc26c 35.82%,
		#df9930 75.6%
	);
}
