@use 'sass:math';
@import 'helpers';
@import 'fonts';
@import 'base';
@import 'components';
@import 'pages';

.volume-btn {
	&.active {
		border-color: var(--orange);
		background: var(--orange);
	}
}
[data-fullscreen] {
	height: 100vh;
	/* Use vh as a fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);
}
.preloader{
	background: rgba(109, 109, 109, 0.30);
	backdrop-filter: blur(4px);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	transform: translate3d(0, 0, 0) translateZ(0);
	transition: all .3s linear;
	&.hide{
		opacity: 0;
		visibility: hidden;
	}
	.show{
		opacity: 1;
		visibility: visible;
	}
}